.grey .accordion{font: 14px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}
.grey .accordion  a {background: #ececec; text-decoration:none; display: block; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {background: #D7D4D4 url(../images/bg_grey.png) repeat-x 0 -1px;}
.grey .accordion a.dcjq-parent.active {}
.grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(../images/arrow_grey_right.png) no-repeat 0 center;}
.grey .accordion a.dcjq-parent.active .dcjq-icon {background: url(../images/arrow_grey_down.png) no-repeat 0 center;}
.grey .accordion a:hover, .grey .accordion .active {background: #fff; color: #375E93;}
.grey .accordion a:active{color:#0099CC}
.grey .accordion a.selected {background: #fff; color:#990000}
.grey .accordion li a{padding: 10px 10px 10px 45px;color: #111;font-weight:700}
.grey .accordion li ul li a{padding: 10px 10px 10px 55px;color: #777;}
.grey .accordion li ul li ul li a{padding: 10px 10px 10px 65px;color: #999;}